<h1>Customers Missing Email Addresses</h1>
<%= link_to 'All Customers', root_path %>
<%= link_to 'Alphabetized Customers', customers_alphabetized_path %>

<div class="customers-list">
  <%= render @customers %>
</div>
